html,
body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    /* overflow-y: scroll; */

}

.loadingPage {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    background-image: url("../img/loadingPage/background.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.loadingPage .whole {
    height: 8%;
    width: 72.2%;
    position: fixed;
    bottom: 56.4%;
    left: 13.9%;
}

.loadingPage .bicycle {
    position: absolute;
    bottom: 35%;
    left: 0%;
    /* width: 30%;
    height: 80%; */
    width: 56px;
    height: 37px;
    /* -webkit-animation: riding linear 0.1s 0s 1 forwards;
    -moz-animation: riding linear 0.1s 0s 1 forwards;
    animation: riding linear 0.1s 0s 1 forwards; */
}

@-webkit-keyframes riding {
    to {
        transform: translateX(370%);
    }
}

@-moz-keyframes riding {
    to {
        transform: translateX(370%);
    }
}

@keyframes riding {
    to {
        transform: translateX(370%);
    }
}

.loadingPage .bike {
    position: absolute;
    bottom: 5%;
    left: 0%;
    z-index: 4;
    width: 100%;
    height: 100%;
}

.loadingPage .wheel {
    position: absolute;
    bottom: 14.6%;
    left: 7.1%;
    z-index: 3;
    /* width: 35%;
    height: 60%; */
    width: 15px;
    height: 15px;
    animation: rotate 0.5s linear infinite;
}

.loadingPage .wheel2 {
    position: absolute;
    bottom: 14.6%;
    left: 65.7%;
    z-index: 3;
    /* width: 35%;
    height: 60%; */
    width: 15px;
    height: 15px;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loadingPage .stripesLoader {
    height: 2%;
    width: 72.2%;
    position: fixed;
    bottom: 56.4%;
    /* bottom: 56.4%;
    left: 13.9%; */
    /* background: linear-gradient(90deg, #eee 50%, transparent 50%); */
    background-color: rgba(0, 0, 0, 0);
    /* background-size: 200%;*/
    background-position: -10% center;
    border-radius: 5px;
    transform: scale(-1);
    transition: 0.3s;
}

.loadingPage .stripesLoader:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(-45deg,
            transparent 25%,
            rgba(106, 109, 116, 1) 25%,
            rgba(106, 109, 116, 1) 30%,
            transparent 30%,
            transparent 35%,
            rgba(106, 109, 116, 1) 35%,
            rgba(106, 109, 116, 1) 70%,
            transparent 70%);
    animation: shift 2s linear infinite;
    background-size: 60px 100%;
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2),
        inset 0 -2px 1px rgba(0, 0, 0, 0.2);
}

@keyframes shift {
    to {
        background-position: -60px 100%;
    }
}

.loadingPage.hide {
    display: none;
}

/* .loadingPage.fadeOut{
    -webkit-animation: fadeOut linear 0.7s 0s 1 forwards;
    -moz-animation: fadeOut linear 0.7s 0s 1 forwards;
    animation: fadeOut linear 0.7s 0s 1 forwards;
} */
.startingPage {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    background-image: url("../img/startingPage/background.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
    /* display: flex;
    flex-direction: column; */
}

/* .startingPage.fadeIn{
    -webkit-animation: fadeIn linear 0.7s 0s 1 forwards;
    -moz-animation: fadeIn linear 0.7s 0s 1 forwards;
    animation: fadeIn linear 0.7s 0s 1 forwards;
} */
.startingPage.fadeOut {
    -webkit-animation: fadeOut linear 0.7s 0s 1 forwards;
    -moz-animation: fadeOut linear 0.7s 0s 1 forwards;
    animation: fadeOut linear 0.7s 0s 1 forwards;
}

.startingPage.hide {
    display: none;
}

.startingPage .graduation {
    margin-top: 38%;
    height: 19.5%;
    min-height: 115.75px;
    width: 100%;
    position: absolute;
}

.startingPage .toMainPage {
    display: none;
    width: 14%;
    height: 10%;
    position: absolute;
    right: 0;
    top: 62%;
    /* cursor: pointer; */
}

.startingPage .main_arrow {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.8;
}

#arrow2 {
    animation: arrow ease 1s 0s infinite both;
}

#arrow3 {
    animation: arrow ease 1s 0.2s infinite both;
}

#arrow4 {
    animation: arrow ease 1s 0.4s infinite both;
}

@keyframes arrow {
    to {
        transform: translateX(150%);
        opacity: 0;
    }
}

.startingPage .dot {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 10%;
}

#light {
    position: absolute;
    right: 20%;
    bottom: 10%;
    width: 20%;
    height: 27%;
    min-width: 72px;
    min-height: 172.8px;
}

.startingPage .person {
    position: absolute;
    left: 5%;
    bottom: 10.5%;
    width: 16%;
    height: 16.3%;
    /* overflow: hidden; */
    /* background-image: url(../img/startingPage/stickMan.png);
    background-repeat: no-repeat;
    background-size: 2000%;
    animation: walk steps(1) 2s 0s 1;
    animation-fill-mode: forwards; */
    /* animation: walking linear 2s 0s 1 forwards; */
}

#stickMan {
    height: 100%;
    width: 100%;
    min-height: 104px;
    min-width: 72px;
    /* bottom: 0; */
}

@keyframes walking {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(150%);
    }
}

.startingPage.easeFadeOut {
    animation: easeFadeOut ease 0.5s 0s 1;
    animation-fill-mode: forwards;
}

@keyframes easeFadeOut {
    to {
        transform: translateX(-100%);
    }
}

.mainPage {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    background-image: url("../img/mainPage/background.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.mainPage.fadeFromRight {
    -webkit-animation: fadeFromRight ease 0.7s 0s 1 forwards;
    -moz-animation: fadeFromRight ease 0.7s 0s 1 forwards;
    animation: fadeFromRight ease 0.7s 0s 1 forwards;
}

.mainPage.fadeIn {
    -webkit-animation: fadeIn linear 0.7s 0s 1 forwards;
    -moz-animation: fadeIn linear 0.7s 0s 1 forwards;
    animation: fadeIn linear 0.7s 0s 1 forwards;
}

.mainPage.fadeOut {
    -webkit-animation: fadeOut linear 0.7s 0s 1 forwards;
    -moz-animation: fadeOut linear 0.7s 0s 1 forwards;
    animation: fadeOut linear 0.7s 0s 1 forwards;
}

.mainPage.hide {
    display: none;
}

.mainPage .grad_title {
    margin-top: 20%;
    /* margin-bottom: 12%; */
}

.mainPage .graduation {
    height: 19.5%;
    min-height: 115.75px;
    width: 100%;
}

.mainPage .activities {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* cursor: pointer; */
    margin-bottom: 10%;
}

.mainPage .activity {
    height: 15%;
    width: 60%;
    margin-bottom: 3%;
    min-width: 216px;
    min-height: 58px;
}

.mainPage .activity_last {
    height: 15%;
    width: 60%;
    margin-bottom: 10%;
    min-width: 216px;
    min-height: 58px;
}

/* .ripple {
    position: absolute;
    border-radius: 50% 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 1;
}

.ripple.rippleEffect {
    -webkit-animation: rippleDrop .6s linear;
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {

    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes rippleDrop {
    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
} */

.photoWallPage {
    background-image: url("../img/sectionPages/photoWall/background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.photoWallPage.hide {
    display: none;
}

.photoWallPage.fadeFromLeft {
    -webkit-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    -moz-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    animation: fadeFromLeft ease 0.7s 0s 1 forwards;
}

.photoWallPage.fadeToRight {
    -webkit-animation: fadeToRight ease 0.7s 0s 1 forwards;
    -moz-animation: fadeToRight ease 0.7s 0s 1 forwards;
    animation: fadeToRight ease 0.7s 0s 1 forwards;
}

.photoWallPage .goBack {
    position: relative;
    /* position: absolute; */
    /* top: 6.5%;
    right: 3.5%; */
    margin-top: 12%;
    margin-right: 10%;
    /* cursor: pointer; */
}

.photoWallPage .back {
    /* margin-top: 10%;
    margin-left: 5%; */
    width: 32%;
    height: 13%;
    min-width: 98.7px;
    min-height: 32.4px;
    /* width: 296px;
    height:97px; */
    flex: 1;
}

.photoWallPage .titleBox {
    margin-top: 4.9%;
    margin-left: 23%;
    margin-bottom: 2%;

}

.photoWallPage .title {
    width: 70%;
}

.photoWallPage .contentBox {
    margin-left: 11.4%;
    margin-right: 11%;
}

.photoWallPage .content {

    text-align: left;
    font-size: 1em;
    line-height: 1.8em;
    font-family: SimHei;
    color: #333333;
}

.timeCapsulePage {
    background-image: url("../img/sectionPages/timeCapsule/background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.timeCapsulePage.hide {
    display: none;
}

.timeCapsulePage.fadeFromLeft {
    -webkit-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    -moz-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    animation: fadeFromLeft ease 0.7s 0s 1 forwards;
}

.timeCapsulePage .goBack {
    /* position: relative; */
    /* position: absolute; */
    /* top: 6.5%;
    right: 3.5%; */
    margin-top: 12%;
    margin-right: 10%;
    /* cursor: pointer; */
}

.timeCapsulePage .back {
    /* margin-top: 10%;
    margin-left: 5%; */
    width: 32%;
    height: 13%;
    min-width: 98.7px;
    min-height: 32.4px;
    /* width: 296px;
    height:97px; */
}

.timeCapsulePage .titleBox {
    margin-top: 4.9%;
    margin-left: 23%;
    margin-bottom: 0%;
}

.timeCapsulePage .title {
    width: 70%;
}

.timeCapsulePage .contentBox {
    margin-left: 11%;
    margin-right: 11.3%;
    margin-bottom: 7%;
    width: 75%;
    height: 50%;
    overflow: scroll;
}

.timeCapsulePage .content {
    text-align: left;
    font-size: 1em;
    line-height: 1.8em;
    font-family: SimHei;
    color: #333333;
}

.timeCapsulePage .arrow {
    /* position: relative; */
    width: 21.2%;
    height: 11%;
    /* right: -31%; */
    /* bottom: 1.8%; */
    margin-left: 60%;
    margin-bottom: -5.1%;
}

.timeCapsulePage .icon {
    /* position: relative; */
    /* right: -33%; */
    /* bottom: 5%; */
    width: 14.2%;
    height: 9.4%;
    /* cursor: pointer; */
    margin-left: 64.6%;
    margin-bottom: 11%;
}

.wishDreamPage {
    background-image: url("../img/sectionPages/wishDream/background.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.wishDreamPage.hide {
    display: none;
}

.wishDreamPage.fadeFromLeft {
    -webkit-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    -moz-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    animation: fadeFromLeft ease 0.7s 0s 1 forwards;
}

.wishDreamPage .goBack {
    position: relative;
    /* position: absolute; */
    /* top: 6.5%;
    right: 3.5%; */
    margin-top: 12%;
    margin-right: 10%;
    /* cursor: pointer; */
}

.wishDreamPage .back {
    /* margin-top: 10%;
    margin-left: 5%; */
    width: 32%;
    height: 13%;
    min-width: 98.7px;
    min-height: 32.4px;
    /* width: 296px;
    height:97px; */
}

.wishDreamPage .titleBox {
    margin-top: 4.9%;
    margin-left: 23%;
    margin-bottom: 0%;
}

.wishDreamPage .title {
    width: 70%;
}

.wishDreamPage .contentBox {
    margin-left: 11%;
    margin-right: 11.3%;
    /* margin-bottom: 15%; */
    width: 70%;
    height: 43.625%;
    overflow-y: scroll;
}

.wishDreamPage .content {
    text-align: left;
    font-size: 1em;
    line-height: 1.8em;
    font-family: SimHei;
    color: #333333;
}

.wishDreamPage .arrow {
    /* position: relative; */
    width: 17%;
    height: 10.6%;
    /* right: -27%; */
    min-width: 64.7px;
    min-height: 67.3px;
    margin-left: 55%;
    margin-top: 15%;
    margin-bottom: 0%;
}

.wishDreamPage .icon {
    /* position: relative; */
    /* right: -31.3%; */
    width: 16.2%;
    height: 7%;
    min-width: 58px;
    min-height: 44.7px;
    /* cursor: pointer; */
    margin-left: 65%;
    margin-bottom: 11%;
}

.creativeMarketPage {
    background-image: url("../img/sectionPages/creativeMarket/background.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.creativeMarketPage.hide {
    display: none;
}

.creativeMarketPage.fadeFromLeft {
    -webkit-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    -moz-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    animation: fadeFromLeft ease 0.7s 0s 1 forwards;
}

.creativeMarketPage .goBack {
    position: relative;
    /* position: absolute; */
    /* top: 6.5%;
    right: 3.5%; */
    margin-top: 12%;
    margin-right: 10%;
    /* cursor: pointer; */
}

.creativeMarketPage .back {
    /* margin-top: 10%;
    margin-left: 5%; */
    width: 32%;
    height: 13%;
    min-width: 98.7px;
    min-height: 32.4px;
    /* width: 296px;
    height:97px; */
}

.creativeMarketPage .titleBox {
    margin-top: 4.9%;
    margin-left: 23%;
    margin-bottom: 2%;
}

.creativeMarketPage .title {
    width: 70%;
}

.creativeMarketPage .contentBox {
    margin-left: 11.4%;
    margin-right: 11%;
}

.creativeMarketPage .content {
    text-align: left;
    font-size: 1em;
    line-height: 1.8em;
    font-family: SimHei;
    color: #333333;
}

.timeStationPage {
    background-image: url("../img/sectionPages/timeStation/background.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.timeStationPage.hide {
    display: none;
}

.timeStationPage.fadeFromLeft {
    -webkit-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    -moz-animation: fadeFromLeft ease 0.7s 0s 1 forwards;
    animation: fadeFromLeft ease 0.7s 0s 1 forwards;
}

.timeStationPage .goBack {
    position: relative;
    /* position: absolute; */
    /* top: 6.5%;
    right: 3.5%; */
    margin-top: 12%;
    margin-right: 10%;
    /* cursor: pointer; */
}

.timeStationPage .back {
    /* margin-top: 10%;
    margin-left: 5%; */
    width: 32%;
    height: 13%;
    min-width: 98.7px;
    min-height: 32.4px;
    /* width: 296px;
    height:97px; */
}

.timeStationPage .titleBox {
    margin-top: 4.9%;
    margin-left: 23%;
    margin-bottom: 0%;
}

.timeStationPage .title {
    width: 70%;
}

.timeStationPage .contentBox {
    width: 77.7%;
    height: 47.5%;
    overflow: scroll;
    margin-left: 11.3%;
    margin-right: 11%;
    margin-bottom: 8%;
}

.timeStationPage .content {
    text-align: left;
    font-size: 1em;
    line-height: 1.8em;
    font-family: SimHei;
    color: #333333;
}

.timeStationPage .arrow {
    /* position: relative; */
    width: 21.2%;
    height: 11%;
    min-width: 76.3px;
    min-height: 67.3px;
    /* right: -28.3%;
    bottom: 0.5%; */
    margin-left: 58%;
    margin-bottom: 1%;
}

.timeStationPage .icon {
    /* position: relative;
    right: -31.3%;
    bottom: 0%; */
    width: 16.5%;
    height: 6.1%;
    min-width: 59.3px;
    min-height: 39px;
    /* cursor: pointer; */
    margin-left: 64%;
    margin-bottom: 11%;
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0.3;
    }
}

@-moz-keyframes fadeOut {
    to {
        opacity: 0.3;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.3;
    }
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeFromRight {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeFromRight {
    from {
        opacity: 0.3;
        -moz-transform: translateX(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes fadeFromRight {
    from {
        opacity: 0.3;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeToRight {
    from {
        opacity: 1;
        -webkit-transform: translateX(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}

@-moz-keyframes fadeToRight {
    from {
        opacity: 1;
        -moz-transform: translateX(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
}

@keyframes fadeToRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes walk {
    0% {
        background-position: 0px 0px;
    }

    10% {
        background-position: -100px 0px;
    }

    20% {
        background-position: -200px 0px;
    }

    30% {
        background-position: -316px 0px;
    }

    40% {
        background-position: -420px 0px;
    }

    50% {
        background-position: -526px 0px;
    }

    60% {
        background-position: -640px 0px;
    }

    70% {
        background-position: -740px 0px;
    }

    80% {
        background-position: -840px 0px;
    }

    90% {
        background-position: -960px 0px;
    }

    92.5% {
        background-position: -1070px 0px;
    }

    95% {
        background-position: -1178px 0px;
    }

    97.5% {
        background-position: -1274px 0px;
    }

    100% {
        background-position: -1400px 0px;
    }
}